@import 'bootstrap/dist/css/bootstrap';

 

.navbar {

background-color: #57dba0 !important;

}

.nav-link {
    color: aliceblue !important;

} 

#logo{
    
}

.navbar-brand {

font-size: 3rem;

}

 

h1 {

color: red;

}